/*	Extension MS	*/
div#scDepotStack {
  position: absolute;
  top: 10px;
  left: 230px;
  color: #ffffff;
  z-index:99999;
}
div#scDepotStack a{
  color: white;
  text-decoration:none;
}
div#scDepotStack a:hover{
  text-decoration:underline;
}

/* Variables du skin */
:root {
/* Couleurs */
	--menu-bg: hsla(180, 24%, 90%);
	--text-color: hsla(0, 0%, 24%);
	--lighter-text-color: hsla(0, 0%, 20%, 1);
	--focus-bg: hsla(206, 28%, 95%);
	--accent: hsla(199, 97%, 46%);
	--accent-lower-opacity: hsla(199, 97%, 46%);
	--accent-darker: hsla(199, 97%, 45%);

/* Spacing */
 --menu-items-gap: 1em;

/* Autre */
	--rounded-corners: .3em;
}


::selection {
	background-color: var(--accent);
	color: white;
}

/* Fonts imports */
/* Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/* Inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Red Hat Display */
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
	font: 0.9em "Inter", "Open Sans", sans-serif;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	scroll-behavior: smooth !important;
}

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-thumb {
	background-color: var(--accent);
	opacity: 3;
	border-radius: 10px;
}

p {
	margin: 0.9em 0;
}

a:focus, input:focus, video:focus, button:focus, [type="checkbox"]:checked:focus+label:before, [type="checkbox"]:not(:checked):focus+label:before {
	outline: unset;
	border: unset;
	transition: unset;
}

.default #tools .lbl {
	--pad: 0.7em;
	padding-top: var(--pad);
	padding-left: var(--pad);
}

.sel_yes.type_b  {
	background-color: var(--focus-bg);
	border-radius: var(--rounded-corners);
	padding-block: calc(var(--menu-items-gap) - .5em);
}

.anc_yes:not(.module) {
	background-color: var(--focus-bg);
	border-radius: var(--rounded-corners);
}

.default #footer {
	display: none;
}

.default #main {
	background: none;
}

.home #root {
	/*background: linear-gradient(to top,var(--focus-bg), var(--accent));*/
	background: white;
}

.home #navigation a {
	--fs: 1.2em;
	font-size: var(--fs);
	line-height: var(--fs);

	--base-pad-right: 50px;
	--base-pad-left: 10px;

	background: var(--accent);
	border-radius: var(--rounded-corners);
	padding: 0.2em 0.7em;

	transition: transform .1s linear, box-shadow .1s linear, background .5s linear;

}

.home #navigation a:hover {
	opacity: 1;
	background: var(--accent-darker);
	transform: scale(1.025);
	/*box-shadow: 0 0 0.5em var(--accent-darker);*/
	
}

.home #navigation a span {
	user-select: none;
}

.home #main {
	flex: 0 1 auto;
	gap: 1.5em;
	align-items: center;
}

.home section.article {
	background-color: var(--focus-bg);
	border-radius: var(--rounded-corners);
	padding-inline: 2em;

}

.home section.article h1 {
	color: var(--lighter-text-color);
}

.default .scroller, .sco .scroller {
	left: var(--menu-items-gap);
}

.sw_child_navList>li {
	padding-bottom: var(--menu-items-gap);
}

.sw_child_navList {
	margin: 0;
	background-image: none;
	padding: 0;
	font-size: 1.2em;
}

/* Selected item in menu (clicked), currently active */
.default #menu .mnu .sel_yes>.lbl .item, .default #content ul.plan .sel_yes>span {
	font-weight: 700;
	padding-block: 0.4em;

	background-color: var(--accent);
	color: white;
	border-radius: var(--rounded-corners);
}

/* Removes the default grey background when active item in menu */
.default #menu .mnu .sel_yes>.lbl .item span, .default #content ul.plan .sel_yes>span {
	background: none;
}

.default #menu .mnu .lbl, .default #content ul.plan .lbl {
	padding-left: 2em;
	/*padding-block: 0.4em;*/
  border-radius: var(--rounded-corners);
}

.default #menu .mnu .lbl:hover, .default #content ul.plan .lbl:hover {
	font-weight: 700;
	color: white;
}

.default #menu .mnu .item:hover, .default #content ul.plan .item:hover {
	background-color: var(--accent);
	border-radius: var(--rounded-corners);
}



.default #menu .mnu .tgle_c, .default #menu .mnu .tgle_o {
	top: 9px;
	left: 5px;
	background: url(../img/tpl/menu-toggle-chevron.svg) no-repeat top;
	background-size: auto;
	/*background-size: 18px;*/
	/*background-position: 0 0;*/
}

.default #menu .mnu .tgle_c {
	background-position: 0 0;
}

.default #menu .mnu .tgle_o {
	background-position: 0 -40px;
}

/*.default .zen_true #toolbox {
	display: ;
}*/

.default #header,
.sco #header {
	background: var(--accent);
}

.default #menu>ul.mnu {
  margin-top: var(--menu-items-gap);
}

/* Remove the top right icon next to item titles in main as the ::before */
.module .hBk>h2.hBk_ti:before, .sco .mainContent>h2.mainContent_ti:before {
	display: none;
}

section>.hBk_ti, .sco section>.mainContent_ti {
	background: none;
	margin-top: .3em;
}

.cBk_ti, .pBk_ti {
	text-align: left;
	font-size: 1.3em;
	margin-bottom: .5em;
	color: var(--lighter-text-color);
}

.cBk, .pBk {
	/*border-radius: var(--rounded-corners);*/
	background-image: none;
}

.cBk_co, .pBk_co {
	background: var(--focus-bg);
	background-image: none;
	/*background: none;*/

	border-radius: var(--rounded-corners);
	
	padding-inline: 1em;
}

/* Removes the second tool icon (module) in toolbar */
.default #tools li.anc_yes.module {
	display: none;
}

.default #tools .item {
	background: url(../img/tpl/menu-tools-new.svg) no-repeat top;
	background-size: 100%;

	transition: transform .2s ease;
}

.default #tools a:hover {
	opacity: 1;
	transform: scale(1.05);
	
}

.default #menu .mnu .item, .default #content ul.plan .item {
	padding-block: 0.4em;
 }

/* Sub links as accent color */
.sw_child_navList a {
	color: var(--accent);
 }

 .sw_child_navList a:hover {
 	font-weight: bold;
 	/*text-decoration: none;*/
 }

 .default #navigation {
 	position: absolute;
 	
 	bottom: 1em;
 	right: 1em;
 }